/* Reset CSS */
*{
    /* Margem = Extra */
    margin:0;
    box-sizing: border-box;
}

body { 

    background-color: mediumslateblue; /* Cor fundo */
    color: rgb(222, 164, 255);    /* Cor para textos */ 
    
}

/* seletor para os <A> */
a {
    /* Propriedade e VALOR */
    text-decoration: none;
    color: aliceblue;
}


/* HEADER = Cabeçalho */
header {
    /* ROW */
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: darkslateblue;
    /* Largura ou comprimento */
    width: 100%;
}

/* UL sistema de lista topicos */
.menu {
list-style: none ;
/* lista horizontal */
display: flex;
/* espaço entre TAGS */
gap: 1rem;
}

/* Tag NAV */
.menu-desktop {
    display: none;
}

/* Daqui para cima Versão Mobile */

/* Responsivo */
/* Serve para as telas maiores */


/* Codigo para telas maiores que 768xp  */

@media (min-width:768px) {
    header {
        /* espaço inteiro */ 
        padding: 1rem 6rem;
        justify-content: ;
        gap: ;
    }

    
    /* NAV */
    .menu-desktop {
        display: flex;
    }

}





